<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @comment.restaurant_id %>
</p>

<p>
  <strong>User comment:</strong>
  <%= @comment.user_comment %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
