<% if notice %>
	<aside id="notice"><%= notice %></aside>
<% end %>
<div class="restaurant-list">
	<h1>Top Restaurants</h1>
	<table>
		<% @restaurants.each do |restaurant| %>
			<tr id="row_<%=restaurant.id%>">
				<td class="extender"></td>
				<td class="name">
					<%= link_to restaurant.name, restaurant_path(restaurant.id) %>
				</td>

				<td class="type">
					<%= restaurant.restauranttype %>
				</td>

				<td class="money">
					<%= "$" * restaurant.pricepoint %>
				</td>
				<div class="up">
					<%= render('upvote', restaurant: restaurant) %>
				</div>
				<div class="down">
					<%= render('downvote', restaurant: restaurant) %>
				</div>
				<td class="extender"></td>
				</tr>
		<% end %>
	</table>
</div>
