<h2>Comments you've made:</h2>

<% @restaurants.each do |restaurant| %>
	<div class="commented-restaurants">
		<div class="rest-name">
			<%= link_to restaurant.name, restaurant_path(restaurant.id) %>
		</div>
		<%= render('user_comments', comments: Comment.getUserCommentsPerRestaurant(restaurant.id, current_user.id)) %>
	</div>
<% end %>