
<% comments.each do |comment| %>
<div class="comment">
	<div class="comment-date">
		<%= comment.created_at.strftime("%B %m, %Y") %>
	</div>
	<div class="user-comment">
		<%= comment.user_comment %>
	</div>
</div>
<div class="clear"></div>
<% end %>
