<h1>
	Hello <%= current_user.email %>

	<%= link_to "Edit Account", edit_user_registration_path(current_user.id), class: "acc_edit" %>
</h1>
<div class="view-select-section">
<%= button_to 'View My Votes', show_votes_user_path(current_user), :remote => true, class: "view-select" %>

<%= button_to 'View My Comments', show_comments_user_path(current_user), :remote => true, class: "view-select" %>

<%= button_to 'View My Favorites', show_favorites_user_path(current_user), :remote => true, class: "view-select" %>
</div>
<div id="selection">

</div>


