<% @comments.each do |comment| %>
  <div class="comments">
      <div class="show-user">
        <%= User.where(id: comment.user_id).first.email %>
        <span class="date"><%= comment.created_at.strftime("%B %m, %Y") %></span>
      </div>
      <div class="show-comment">
        <%= comment.user_comment %>
      </div>
      <div class="clear"></div>
  </div>
<% end %>