<% if current_user %>
	<% user_vote = restaurant.checkForUserVote(current_user.id) %>
	<% if user_vote.count > 0 %>
		<% @vote = user_vote.first.vote %>
	<% else %>
		<% @vote = 0 %>
	<% end %>
<% end %>

<% if @vote == -1 %>
	<%= button_to downvote_restaurant_path(restaurant), class: 'clicked', :remote => true do %>
			<%= fa_icon "thumbs-down" %>
	<% end %>
<% else %>
	<%= button_to downvote_restaurant_path(restaurant), :remote => true do %>
			<%= fa_icon "thumbs-down" %>
	<% end %>
<% end %>
</td>