<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :restaurant_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :restaurant_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :restaurant_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :restaurant_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :restaurant_zip %>
  </div>

  <div class="field">
    <%= form.label "Type" %>
    <%= form.text_field :restauranttype, id: :restaurant_restauranttype %>
  </div>

  <div class="field">
    <%= form.label "Price Point" %>
    <%= form.number_field :pricepoint, id: :restaurant_pricepoint %>
  </div>
  
  <div class="clear"></div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

