<div id="row_<%= restaurant.id %>" class="restaurant">
        <% if restaurant.pricepoint == 1 %>
          <%= image_tag 'burger.jpeg' %>
        <% elsif restaurant.pricepoint == 2 %>
          <%= image_tag 'white-tablecloth.jpeg' %>
        <% else %>
          <%= image_tag 'fine-dining.jpeg' %>
        <% end %>
          <h2><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h2>

          <%= restaurant.restauranttype %>
                &mdash;
          <%= "$" * restaurant.pricepoint %>

          <div class="down">
            <%= render('restaurants/downvote', restaurant: restaurant) %>
          </div>

          <div class="votes">
            <%= render('restaurants/votes', restaurant: restaurant) %>
          </div>

          <div class="upvs">
            <%= render('restaurants/upvote', restaurant: restaurant) %>
          </div> 

          <div class="comments-icon">
            <%= fa_icon "comment" %>
            <%= Restaurant.getNumberOfCommentsForRestaurant(restaurant.id) %>
          </div>

          <br />
          <div class="address">
            <%= restaurant.address %> <br />
            <%= restaurant.city %> <br />
            <%= restaurant.state + ", " + restaurant.zip %>
          </div>
        
      </div>
      <div class="clear"></div>