<% if current_user %>
	$("#row_<%= @restaurant.id %> .votes").html("<%= escape_javascript render(:partial => 'votes', :locals => { :restaurant => @restaurant }) %>");
	<% if @vote == nil %>
    $("#row_<%= @restaurant.id %> .down button").addClass("clicked");
  <% elsif @vote == -1 %>
	$("#row_<%= @restaurant.id %> .down button").removeClass("clicked");
  <% else %>
    $("#row_<%= @restaurant.id %> .down button").addClass("clicked");
    $("#row_<%= @restaurant.id %> .upvs button").removeClass("clicked");
  <% end %>
<% else %>
	$(".notice").html("<%= flash[:notice] %>");
<% end %>