<h1>Search Results</h1>

<% if @results == false %>
 
  <div class="results">
    <p>No search results found.  Check out these other great restaurants!</p>
  </div>

<% end %>

<% @restaurants.each do |restaurant| %>
    <%= render('restaurant', restaurant: restaurant) %>
<% end %>
