
<div class="show-restaurant">
  <%= render('restaurant', restaurant: @restaurant) %>
  
  <%= form_for(Comment.new, :remote => true, class: "comment-form") do |f|  %>
    Comment: <%= f.text_area :user_comment, cols: 50, rows: 10, class: 'comment-box' %>
    <% if (current_user) %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
    <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
    <%= f.submit 'Add Comment' %>
  <% end %>
</div>
        <div id="comment-area">
          <%= render('comments', comments: @comments) %>
        </div>

<%= link_to 'Back', request.referer.present? ? request.referer : home_index_url  %>
