/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 * {
	margin: 0;
	padding: 0;
	line-height: normal !important;
 }
 .notice {
 	color: green;
 	font-style: italic;
 	text-align: center;
 }
body {
	position: relative;
	min-height: 80vh;
	padding: 0 0 100px 0;
 }
#wrapper {
	width: 80%;
	margin: 0 auto;
}
h1, h2, h3 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}
h1 {
	text-align: center;
}
a:hover {
	background-color: transparent;
	color: #FF4500;
}
header {
	width: 90%;
	margin: 0 auto;
	height: 50px;
}
header.logo h1 {
	display: inline;
	font-size: 3em;
	color: #FF4500;
}
.icon {
	color: #5b5755 !important;
}
header.logo h2 {
	font-size: 2em;
}
.form-holder {
	width: 100%;
	background-color: #ffece6;
	margin: 25px 0;
}
.search {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	border-top: 1px solid #908b89;
	border-bottom: 1px solid #908b89;
}
.search label, input {
	display: inline;
	padding: 5px;
	margin: 10px;
	font-family: "Roboto", sans-serif;
}
.search input {
	width: 25%;
}
.search input[type="submit"] {
	background-color: #FF4500;
	color: black;
	border: 1px solid #5b5755;
	border-radius: 10px;
	font-weight: 900;
	width: 75px;
	height: 35px;
	font-size: 1.1em;
}
.search input[type="submit"]:hover {
	border: 2px solid black;
}
ul.nav {
	list-style-type: none;
	display: inline;
	font-family: "Roboto", sans-serif;
}
ul.nav li {
	display: inline;
	margin: 0 0 0 30px;
}
ul.nav li a {
	text-decoration: none;
	color: #5b5755;
	font-size: 1.2em;
	font-weight: bold;
}
ul.nav li a:hover {
	color: #FF4500;
	background-color: white;
}
body, ul {
	font-family: "Roboto", sans-serif;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #5b5755;
	text-align: right;
}
.copyright {
	margin: 25px;
	line-height: 50px !important;
}
.restaurant img {
	width: 20%;
	float: left;
	margin: 25px;
}
.restaurant {
	text-align: left;
	font-size: 1.5em;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding: 0 50px;
}
.restaurant button {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50px;
	border: none;
}
.restaurant .upvs, .down, .votes, .comments-icon {
	display: inline-block;
	float: right;
	margin: 25px 15px 0 0;
	text-align: center;
}
.restaurant .comments-icon {
	margin-right: 50px;
}
.restaurant h2 {
	text-align: left;
	display: inline-block;
	padding: 25px 50px 0 0;
	margin-bottom: 15px !important;
}
.restaurant a {
	text-decoration: none;
}
.address {
	display: inline;
}
.clear {
	clear: both;
}
.clicked {
	background-color: #fC8C62;
	color: #D83B00;
}
.user_options {
	display: inline;
	float: right;
	height: 50px;
	line-height: 65px !important;
}