// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-list {
	text-align: center;
	
	h1 {
		margin: 0 0 25px 0;
		font-family: "Roboto", sans-serif, Arial;
	}
	
	

}
