// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
	text-align: center;
	margin-bottom: 25px;
}
.results {
	color: #FF4500;
	text-align: center;
	font-weight: bold;
	margin: 15px;
}
.field {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	label {
		font-weight: bold;
	}
	input {
		width: 200px;
	}
}
#restaurant {
	border-top: 1px solid #FF4500;
}
.actions {
	input[type="submit"] {
		display: block;
		margin: 25px auto;
		background-color: #FF4500;
		color: black;
		border: 1px solid #5b5755;
		border-radius: 10px;
		font-weight: 900;
		width: 200px;
		height: 35px;
		font-size: 1.1em;
	}
	input[type="submit"]:hover {
		border: 2px solid black;
	}
}
.clear {
	clear: both;
}

form .comment-box {
	display: block;
}
.comments {
	display: block;
	width: 100%;
	margin-top: 15px;
}
.comments .show-user {
	width: calc(35% - 16px);
	width: -webkit-calc(35% - 31px);
	float: left;
	text-align: right;
	
	padding: 15px;
	min-height: 100px;
}
.comments .show-comment {
	width: calc(65% - 15px);
	width: -webkit-calc(65% - 31px);
	float: right;
	background-color: #ffece6;
	text-align: left;
	font-size: .75em !important;
	padding: 15px;
	min-height: 100px;
	border-left: 1px solid #FF4500;
}
.comments .show-user .date {
	font-size: 75%;
	display: block;
}
form#new_comment input {
	display: block;
}
form#new_comment {
	width: 50%;
	margin: 15px auto;
}