// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.acc_edit {
	font-size: 0.6em;

}
h1 {
	margin-bottom: 15px;
}
.commented-restaurants {
	display: block;
	margin-top: 15px;
	.comment {
		margin-top: 15px;
	}
	.rest-name {
		display: block;
		width: 100%;
		font-size: 2em;
	}
	.user-comment {
		display: block;
		width: calc(80% - 31px);
		border-left: 1px solid #FF4500;
		background-color: #ffece6;
		float: right; 
		text-align: left;
		font-size: 1.25em !important;
		padding: 15px;
	}
	.comment-date {
		display: block;
		width: calc(20% - 31px);
		float: left;
		text-align: right;
		font-size: 1.5em !important;
		padding: 15px;
	}
}
button .view-select {
	display: inline-block;
	margin: 15px;
	background-color: orange;
}

.view-select-section {
	text-align: center;
	margin: 25px;
}
.view-select-section form {
	display: inline;
}
input.view-select  {
	background-color: #FF4500;
	color: black;
	border: 1px solid #5b5755;
	border-radius: 10px;
	font-weight: 900;
	height: 35px;
	font-size: 1.1em;
}